*{
	margin:0;
	padding:0;
}

#slideshow{
	background:none;
	height:500px;
	margin-top:0px;
	position:relative;
	width:700px;
}

#slideshow ul{
	height:550px;
	left:0px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:700px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:none;
	top:40%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}

